
h1{
    text-align: center;
    text-decoration: underline;
    font-size: 3rem;
}


.caixa{
    width: 30%;
    height: auto;
    background-color:  pink;
    box-shadow: 5px 5px 5px rgb(119, 5, 119);
}

h4{
    text-align: center;
    
}

p{
    text-align: center;
}

.reduzido{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.caixa:hover .reduzido{
white-space: normal;
}