h1{
    text-align: center;
    font-size: 3rem;
    text-decoration: underline;
}

#gradiente{
    width: 100%;
    height: 20rem;
    background-color: blueviolet;
    background-image: linear-gradient(to right, blue, red, green);
}

#gradiente1{
    width: 100%rem;
    height: 20rem;
    background-color: blueviolet;
    background-image: radial-gradient( blue,yellow, red,green, orange, rgb(116, 13, 116));
}

#gradiente2{
    width: 100%;
    height: 20rem;
    background-color: blueviolet;
    background-image: linear-gradient(to top right, blue, red,green);
}

#gradiente3{
    width: 100%;
    height: 20rem;
    background-color: blueviolet;
    background-image: linear-gradient(60deg, blue, red,green);
}